# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Run Port
PORT=8080

# Storage Config
STORAGE_PROVIDER=ORACLE # Options: ORACLE, AWS

# Oracle Object Storage (S3 Compatible)
# Get these from OCI Console -> Profile -> Customer Secret Keys
S3_ACCESS_KEY=
S3_SECRET_KEY==
# Endpoint format: https://<namespace>.compat.objectstorage.<region>.oraclecloud.com
S3_ENDPOINT=
S3_REGION=
S3_BUCKET_NAME=
# Optional: Base URL for public access to objects
S3_PUBLIC_URL=

# JWT
JWT_SECRET=

# Token Expiry
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRY_DAYS=30

# Kafka Config
KAFKA_BROKERS=localhost:9092

# ONNX Face Verification
FACE_VERIFICATION_PROVIDER=onnx
ONNX_MODEL_PATH=./models/arcface_resnet50.onnx
ONNXRUNTIME_SHARED_LIBRARY_PATH=./lib/libonnxruntime.dylib

# Environment Config
APP_ENV=development
BASE_URL=https://d11a-2001-448a-2004-6f78-e4c8-776f-842a-a44c.ngrok-free.app
APPLE_TEAM_ID=12345ABCDE
ANDROID_SHA256_CERT=93:16:B7:DE:A0:28:9E:4C:10:EC:F2:F0:88:1C:62:47:43:D9:6E:CC:86:63:C2:74:E9:5C:ED:1A:17:9E:71:44

# Notification Config
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account-dev.json

# GIF Provider
GIF_PROVIDER=klipy
KLIPY_API_KEY=xxxxxx
KLIPY_SHOW_ADS=true
